.wrapper {
  display: flex;
}

.side_bar {
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_header {
  height: 100px;
  padding: 0 20px;
}

.side_main {
  height: calc(100vh - 100px);
  padding: 0 20px;
  background-color: #2F3E51;
}

.main_chat {
  width: calc(100vw - 300px);
  background-color: #ffffff;
}

.main_header {
  height: 100px;
  padding: 0 40px;
}

.chat_body {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 ;
  background-color: #C0C0C0;
}

.form {
  height: 90px;
  padding: 20px 40px;
  background-color: #DDDDDD;
}
